.user-bubble{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
	padding: 10px;
	margin: 10px;
	width: 200px;	
}

.user-bubble .name{
	padding-left: 5px;
	border-bottom: 1px solid black;	
}