//Set up some variables
$base: #dddddd;
$dark: darken($base, 50%);
$light: lighten($base, 5%);

//Functions/Mixins
@import "mixins/background-gradient";
@import "mixins/border-radius";

body, html{
	padding: 0px;
	margin: 0px;
	font-family: Arial;
	font-size: 12px;
	background-color: #F7F7F7;	
}

.user-toolbar{
	padding: 5px;
	color: white;
	font-weight: bold;
	@include background-gradient($dark, darken($dark, 20%));
}

.user-bubble{
	float: left;
	display: inline;
	@include border-radius(5px); //border-radius
	border: 1px solid $base;
	background-color: $light;
	padding: 10px;
	margin: 10px;
	width: 200px;
	
	.name{
		border-bottom: 1px solid black;
		padding: 3px 0px 3px 0px;
		font-weight: bold;
	}
	
	.message{
		padding: 10px;
		font-style: italic;	
	}
}